.hidden {
  display: none;
}

.container-users > .card  > .card-body > .card-link {
  cursor: pointer;
}

.container-users > .card {
  transition: all .09s linear;
}

.container-users > .card:hover {
  box-shadow: 0px 1px 5px #11111115 !important;
}
